*{
    color: brown;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align:center;
}
body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #fefae0;
    background-size: auto;
    background-position: center;
    margin: 0;
    padding: 0;
}
h1{
    color: #2c1e11;
    font-size: 40px; 
    text-align:center;
} 


h2{
    color:#556b2f;
    font-size: 30px;
    text-align: centre;
}


h3{
    color:black;
    font-size: 30px;
    text-align: center;
    
}

h4{
    color:black;
    font-size: 30px;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 100%; 
    padding-bottom: 10%;   
}

.img-container img{
    width:350px;
    height: 300px;
}
.img-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    


p{
    color: #3b240b;
    font-size: 18px;
}




.navbar{
    text-align: right;
    color:beige;
    border:2px;
    font-size: 25px;
    padding: 0px;
    margin:auto;
}  


.img-container-pastries{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}

.img-container-pastries img{
    width: 280px;
    height:300px;
}

.img-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}

input[type=submit] {
    background-color: blueviolet;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #556b2f;
}
  
  
.container {
    border-radius: 10px;
    background-color: #fefae0;
    padding: 5rem;
    margin: auto;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
  
 
  
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

