*{
    color: brown;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    text-align:center;

       
} 

body{
    font-family: 'Raleway', sans-serif; 
    background-color: deepskyblue;
    background-size: 100%;
}



h1{
    color:blue;
    font-size: 40px; 
    text-align: center; 
} 


h2{
    color: #5b925b;
    font-size: 30px;
    text-align: centre;
    
}


h3{
    color:palevioletred;
    font-size: 30px;
    text-align: center;
    
}

h4{
    color:palevioletred;
    font-size: 30px;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 100%; 
    padding-bottom: 10%;   
}

.img-container img{
    width:350px;
    height: 300px;
}
.img-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    


p{
    color: black;
    font-size: 18px;
}




.navbar{
    text-align: right;
    color:beige;
    border:black;
    font-size: 25px;
    padding: 0px;
    margin:auto;
}  


.img-container-pastries{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}

.img-container-pastries img{
    width: 280px;
    height:300px;
}

.img-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* * Style inputs with type="text", select elements and textareas */ 
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
  
  /* Add a background color and some padding around the form */
.container {
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

